.block11 {
    display: flex;
    position: relative;
    margin: 395px 0 357px;

    &__left {
        width: calc(50% + 235px);
        background-color: $color-yellow;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: relative;
    }
    &__bg {
        background: url(../img/block11/bg.png) no-repeat center / cover;
        height: 690px;
        position: relative;
        width: calc(100% + 4px);
        margin: -2px -2px 0;

        &:after {
            content: '';
            height: 270px;
            background: linear-gradient(0deg, $color-yellow 0%, $color-transparent 100%);
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
    &__glob {
        position: absolute;
        right: -120px;
        top: -358px;
    }
    &__text {
        letter-spacing: .01em;
        color: $color-black;
        max-width: 820px;
        padding: 18px 100px 153px 0;
        position: relative;
    }
    &__date {
        position: absolute;
        top: -168px;
    }
    &__title {
        font-size: 47px;
        line-height: 1;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        margin: 0 0 15px;
    }
    &__btn {
        margin: 26px 0 0;
    }
    &__score {
        position: absolute;
        bottom: 65px;
        right: 102px;
    }
    &__right {
        width: calc(50% - 235px);
        position: relative;
    }
    &__red {
        height: 1485px;
        background-color: $color-red;
        position: absolute;
        left: 0;
        right: 0;
        top: 380px;
        z-index: 1;
    }
    &__img1 {
        max-width: 691px;
        position: absolute;
        top: 50px;
        right: 0;
        z-index: 2;
    }
    &__piople {
        position: absolute;
        top: 892px;
        left: 45px;
        letter-spacing: .01em;
        color: $color-yellow;
        z-index: 2;
    }
    &__img2 {
        position: absolute;
        top: 987px;
        left: 45px;
        z-index: 2;
    }
    &__img3 {
        position: absolute;
        bottom: -367px;
        left: 50%;
        margin: 0 0 0 -550px;
        z-index: 2;
    }
}