.btn {
    height: 50px;
    padding: 0 25px;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    color: $color-white;
    transition: .5s;

    &:hover {
        opacity: .8;
    }

    &-blue {
        background-color: $color-blue;
    }

    &-white {
        border: 1px solid $color-white;
    }

    &__icon {
        margin: 0 10px 0 0;
    }

    @include media-breakpoint-only(xs)
    {
        & {
            padding: 0 20px;
        }
    }
}