.block8 {
    background: url(../img/block8/bg.png) no-repeat center / cover;
    height: 704px;
    margin: 233px 0 0;
    position: relative;

    &__img {
        position: absolute;
        top: -103px;
        left: 50%;
        margin: 0 0 0 -530px;
    }
}