.block9 {
    background: url(../img/block9/bg.webp) no-repeat top right;

    .not-use-webp & {
        background-image: url(../img/block9/bg.png);
    }

    &__inner {
        position: relative;
        padding: 72px 0 0;
    }
    &__text {
        padding: 90px 0 38px;
        max-width: 704px;
        letter-spacing: .01em;
    }
    &__title {
        font-size: 47px;
        letter-spacing: .05em;
        color: $color-yellow;
        text-transform: uppercase;
    }
    &__video {
        position: relative;
        display: inline-block;

        &-img {
            display: block;
        }
        &-btn {
            position: absolute;
            top: 0;
            right: -80px;
        }
    }
    &__score {
        position: absolute;
        bottom: 48px;
        left: 50%;
        margin: 0 0 0 17px;
    }
    &__img {
        position: absolute;
        top: -170px;
        right: 140px;
    }

    @include media-breakpoint-only(lg)
    {
        & {
            background-size: auto 550px;

            &__inner {
                padding: 34px 0 0 38px;
            }
            &__text {
                max-width: 530px;
                padding: 90px 0 30px;
            }
            &__score {
                margin: 0 0 0 96px;
            }
            &__img {
                top: -163px;
                right: 56px;
                width: 304px;
            }
        }
    }
    @include media-breakpoint-between(sm, md)
    {
        & {
            background: no-repeat;

            &__img {
                top: -100px;
                right: 50px;
                height: 200px;
            }
            &__score {
                bottom: 0;
                left: auto;
                right: 0;
            }
        }
    }
}